<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyramid Resume Default Template</title>
  </head>

  <body>
    <div class="content">
      <h1><span class="font-semi-bold">Pyramid</span> <span class="smaller">Starter project</span></h1>
      <p class="lead"><span class="font-semi-bold">404</span> Page Not Found</p>
    </div>
  </body>
</html>
